@{
    ViewData["Title"] = "درباره ما";
}

<div class="container text-right text-justify">
    <h1>درباره ما</h1>
    <br />
    <div class="text-center">
        <img src="/images/bitcoin.png" >
    </div>
    <br />
    <br />
    <div class="text-justify">
        بانکداری غیرمتمرکز مفهومی است که در پی ظهور ارزهای دیجیتال پدید آمد. دلیل این موضوع این است که ارزهای دیجیتال اولین دارایی‌های هوشمندی هستند که می‌توانند چنین ابزاری را پدید آورند.
        بسیاری از افراد، از بانکداری‌ غیرمتمرکز به‌عنوان بانکداری کریپتو (crypto banking) ‏یاد می‌کنند.‏ بانک‌های ارز دیجیتال (Cryptobanks) پلتفرم‌های غیرمتمرکزی هستند که خدمات رایج بانک‌های متمرکز‏‎، مانند اعطای وام و امتیازدهی اعتباری را ‏ارائه می‌دهند اما تمام واسطه‌هایی که یک بانک متمرکز از آن استفاده می‌کند را حذف می‌کنند. در واقع، اشخاصی که بانک به آن‌ها برای تائید وام و ساختار داده‌های مالی نیاز دارد، با قراردادهای هوشمند و سرویس‌های همتا به همتا در اکوسیستم بانکداری ارز دیجیتال جایگزین می‌شوند.‏ این نوع بانک به‌صورت یک رابط کامپیوتری روی دسکتاپ یا تلفن همراه شکل گرفته و ارزهای ‏مورد مبادله در این اکوسیستم، اکثرا ارزهای دیجیتال هستند.‏
    </div>
    <br />
    <br />
</div>